<launch>
    <arg name="model" />
    <arg name="gui" default="false" />

    <param name="robot_description" textfile="$(find autolabor_description)/urdf/autolabor_pro1_track_suit.urdf" />
    <param name="use_gui" value="$(arg gui)" />

    <!-- 定位驱动 -->
    <node pkg="marvelmind" type="marvelmind_driver" name="marvelmind_driver" output="screen">
        <remap from="/marvelmind_hedge_pos" to="location_pos"/>
        <param name="port_name" value="/dev/box_3"/>
        <param name="baud_rate" value="115200"/>
        <param name="map_frame" value="tag"/>
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find autolabor_test_launch)/rviz/tag.rviz" />
</launch>
