<launch>
     <param name="robot_description" textfile="$(find cartographer_ros)/urdf/simulation_2d.urdf" />

     <!-- 场景模拟 -->
     <node pkg="map_server" type="map_server" name="map_server" args="$(find simulation_launch)/map/amcl_map.yaml">
       <remap from="map" to="stage_static_map" />
     </node>

     <node name="simulation_stage" pkg="autolabor_simulation_stage" type="simulation_stage_node" output="screen">
       	<param name="input_topic" value="stage_static_map" />
       	<param name="output_topic" value="stage_map" />
       	<param name="real_map_frame" value="real_map" />
     </node>

     <!-- 车辆底层模拟 -->
     <node pkg="autolabor_simulation_base" type="simulation_base_node" name="autolabor_driver" output="screen">
       	<param name="map_frame" value="map"/>
       	<param name="odom_frame" value="odom"/>
       	<param name="base_link_frame" value="base_link"/>
       	<param name="real_map_frame" value="real_map"/>

       	<param name="noise_v_linear" value="0.0"/>
       	<param name="noise_v_theta" value="0.0"/>

       	<param name="max_a_linear" value="999.0"/>
       	<param name="max_a_theta" value="999.0"/>

       	<param name="max_v_linear" value="1.0"/>
       	<param name="max_v_theta" value="1.57"/>

       	<param name="rate" value="500"/>

        <param name="is_tf_broadcast" value="false"/>
     </node>

     <!-- 雷达模拟 -->
     <node name="simulation_lidar" pkg="autolabor_simulation_lidar" type="simulation_lidar_node" output="screen">
       	<param name="min_angle" value="-3.141592654" />
       	<param name="max_angle" value="3.141592654" />

       	<param name="min_distance" value="0.15" />
       	<param name="max_distance" value="5.00" />

       	<param name="size" value="1000" />
       	<param name="rate" value="10" />
        <param name="noise" value="0.005" />

       	<param name="stage_map_topic" value="stage_map" />
       	<param name="global_frame" value="real_map" />
       	<param name="lidar_frame" value="laser" />
     </node>

     <!-- 键盘遥控 -->
     <node name="keyboard_control" pkg="autolabor_keyboard_control" type="keyboard_control_node">
       	<param name="linear_min" value="0.3" />
       	<param name="linear_max" value="2.0" />
       	<param name="linear_step" value="0.1" />

       	<param name="angular_min" value="0.314" />
       	<param name="angular_max" value="1.57" />
       	<param name="angular_step" value="0.314" />
     </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="cartographer_node" pkg="cartographer_ros"
      type="cartographer_node" args="
          -configuration_directory $(find cartographer_ros)/configuration_files
          -configuration_basename simulation_2d_localization.lua
          -load_state_filename $(arg load_state_filename)"
      output="screen">
  </node>

  <node name="cartographer_occupancy_grid_node" pkg="cartographer_ros"
      type="cartographer_occupancy_grid_node" args="-resolution 0.05" />

  <node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(find cartographer_ros)/configuration_files/demo_2d.rviz" />
</launch>
